/* Base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 100;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-left: 35px;
}

.logo a {
    display: flex;
    align-items: center;
}

.logo a:first-child {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.logo-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.logo-icon img {
    width: 40px;
    height: 40px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    transition: filter 0.3s ease;
}

.logo:hover .logo-icon img {
    filter: brightness(0.8); /* Darkens the image slightly on hover */
}

.logo-text {
    color: #AF9453;
    font-size: 16px;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 50px; /* Adjust spacing between the logo and Log In button */
    margin-right: 50px;
}

.login-btn {
    margin-left: auto; /* Pushes login button to the right */
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.login-btn:hover {
    color: #b08d57;
}

.user-icon {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #AF9453; /* amber-700 */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 5px; /* Adjust spacing between the user icon and text */
}

.desktop-nav {
    display: flex;
    gap: 3.2rem;
}

.desktop-nav a {
    color: #4b5563; /* gray-600 */
    font-size: 0.875rem;
    transition: color 0.2s;
}

.desktop-nav a:hover {
    color: #b45309; /* amber-700 */
}

.nav-item {
    position: relative;
    display: inline-block;
}

.nav-item > a {
    color: #4b5563;
    font-size: 0.875rem;
    transition: color 0.2s;
}

.nav-item:hover > a {
    color: #b45309;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
    z-index: 10;
}

.nav-item:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-link {
    color: #333;
    text-decoration: none;
    padding: 0.75rem 1rem;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-link:hover {
    background-color: #f0f0f0;
    color: #b45309;
}

.mobile-menu-btn {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    color: #4b5563; /* gray-600 */
}

/* Mobile menu */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 200;
    display: none;
    flex-direction: column;
}

.mobile-menu.active {
    display: flex;
}

.close-menu-btn {
    align-self: flex-end;
    background: none;
    border: none;
    cursor: pointer;
    color: #4b5563; /* gray-600 */
    padding: 1rem;
}

.mobile-menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.mobile-menu-content .login-btn {
    margin-right: 0;
    margin-bottom: 2rem;
}

.mobile-menu-content nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.mobile-menu-content nav a {
    color: #4b5563; /* gray-600 */
    font-size: 1.125rem;
    transition: color 0.2s;
}

.mobile-menu-content nav a:hover {
    color: #b45309; /* amber-700 */
}

/* Hero section */
.hero-section {
    height: 100vh;
    width: 100%;
    position: relative;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://static.wixstatic.com/media/c19c76_cf9b2c654746412abb0d21d10fc406b9~mv2_d_3861_2574_s_4_2.jpg/v1/fill/w_1351,h_919,al_b,q_85,usm_0.66_1.00_0.01,enc_auto/c19c76_cf9b2c654746412abb0d21d10fc406b9~mv2_d_3861_2574_s_4_2.jpg');
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    top: 3rem;
    color: white;
    padding: 0 1rem;
}

h1 {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 0.2em;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.cta-button {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.75rem 2.5rem;
    background-color: #AF9453; /* amber-700 with opacity */
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 0.875rem;
    transition: background-color 0.2s;
}

.cta-button:hover {
    background-color: #AF9453; /* amber-700 */
}

.hero-title {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    color: white;
    font-size: 3rem;
    letter-spacing: 0.3em;
    line-height: 1.6;
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
}

.scroll-arrow {
    margin-top: 30px;
    display: inline-block;
    cursor: pointer;
}

.scroll-arrow svg {
    width: 70px;
    height: 90px;
    fill: #fff;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

/* Services Section Styles */
.services-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: #fff; /* Dark grey background */
}

.services-container {
    display: flex;
    margin-top: 50px;
    gap: 50px;
}

.services-text {
    flex: 1;
    background-color: #4a4a4a;
    color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 30%; /* Reduce the width */
}

.services-title {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
}

.services-icon {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.services-icon img {
    width: 50px;
    height: 50px;
    color: #B08D57;
    transition: transform 0.3s ease;
}

.services-icon:hover img {
    transform: scale(1.1);
}

.services-description {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin-bottom: 30px;
}

.services-button {
    display: inline-block;
    padding: 10px 30px;
    background-color: #b08d57; /* Gold-like color */
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.services-button:hover {
    background-color: #fff;
    color: #b08d57;
    border: 1px solid #b08d57;
}

.services-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Placeholder background color */
}

.services-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Testimonial Section Styles */
.testimonial-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: #fff; /* White background */
    position: relative;
}

.testimonial-container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
    position: relative;
}

/* Testimonial Wrapper */
.testimonial-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.testimonial-content {
    opacity: 0;
    position: absolute;
    width: 100%;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
}

.testimonial-content.active {
    opacity: 1;
    position: relative;
    transform: translateX(0);
    display: block;
}

.testimonial-content.prev {
    transform: translateX(-100%);
}

.testimonial-content.next {
    transform: translateX(100%);
}

.arrow {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.arrow:hover {
    opacity: 1;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

.slide-in {
    animation: slideIn 0.5s forwards;
}

.slide-out {
    animation: slideOut 0.5s forwards;
}

.testimonial-content {
    max-width: 600px;
    margin: 0 auto; /* Center the content */
    font-family: 'Playfair Display', serif;
    color: #333;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none; /* Hide all testimonials by default */
    text-align: center;
    transition: opacity 0.5s ease-in-out;
}

.testimonial-content.active {
    display: block; /* Show the active testimonial */
}

.testimonial-content {
    max-width: 600px;
    font-family: 'Playfair Display', serif;
    color: #333; /* Dark text color */
    line-height: 1.8;
}

.quote-icon {
    font-size: 7rem;
    color: #333;
    margin-bottom: 20px;
}

.testimonial-text {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.4;
    color: #333;
    margin: 20px 0;
    text-align: center;
}

.testimonial-author {
    font-size: 16px;
    font-family: sans-serif;
    color: #b08d57; /* Gold-like color */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Remove position: absolute */
    margin-top: 20px; /* Add margin for spacing */
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.arrow-left {
    left: -280px; 
    top: 70%; 
}

.arrow-right {
    right: -280px; 
    top: 70%;
}

/* Gallery Section */
.gallery-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px; /* Adjust height as needed */
    background-color: #fff; /* Fallback color */
}

.gallery-container {
    display: flex;
    flex-direction: row-reverse; /* Move the card to the right */
    position: relative;
    background-image: url('https://static.wixstatic.com/media/c19c76_be4ffccdadfe4e0b987504c62fb53fe5~mv2_d_3625_2366_s_2.jpg/v1/fill/w_1223,h_567,al_b,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/c19c76_be4ffccdadfe4e0b987504c62fb53fe5~mv2_d_3625_2366_s_2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1200px;
    height: 100%;
}

/* Right Card */
.gallery-card {
    flex: 1;
    background-color: #b08d57; /* Gold-like color */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
    color: #fff;
    height: 500px;
    position: relative;
    right: 70px;
    top: 70px;
    max-width: 350px;
}

.gallery-title {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
}

.gallery-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.gallery-icon img {
    width: 50px;
    height: 50px;
    color: #AF9453;
    transition: transform 0.3s ease;
}

.gallery-icon:hover img {
    transform: scale(1.1);
}

.gallery-description {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.4;
    color: #fff;
    text-align: center;
    margin: 20px 0;
}

.gallery-button {
    display: inline-block;
    padding: 10px 30px;
    background-color: #b08d57;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.gallery-button:hover {
    background-color: #fff;
    color: #b08d57;
    border: 1px solid #fff;
}

/* Responsive styles */
@media (max-width: 768px) {
    .nav-container {
        display: none;
    }

    .mobile-menu-btn {
        display: block;
    }

    h1 {
        font-size: 2.25rem;
    }

    .gallery-card {
        height: 370px;
        max-width: 300px;
    }
    /* Services Section */
    .services-container {
        flex-direction: column; /* Stack the text and image vertically */
        align-items: center;
        text-align: center;
        padding: 20px;
        min-width: 100%;
    }

    .services-text {
        margin-bottom: 20px;
        min-width: 100%;
    }

    .services-title {
        font-size: 24px; /* Adjust font size for smaller screens */
        margin-bottom: 10px;
    }

    .services-description {
        font-size: 16px; /* Adjust font size */
        margin-bottom: 20px;
    }

    .services-button {
        font-size: 14px;
        padding: 10px 20px;
    }

    .services-image img {
        width: 100%; /* Make the image responsive */
        height: auto;
        border-radius: 5px;
    }

    /* Reset general spacing */
    * {
        margin: 0;
        padding: 0;
    }

    /* Adjust main sections */
    .hero-section,
    .services-section,
    .testimonial-section,
    .gallery-section {
        padding: 0;
        margin: 0;
    }

    /* Adjust containers */
    .services-container,
    .testimonial-container,
    .gallery-container {
        padding: 20px 0;
        margin: 0;
    }

    /* Adjust content spacing */
    .hero-content {
        padding: 60px 20px;
    }

    /* Services adjustments */
    .services-text {
        padding: 30px 20px;
    }

    .services-image {
        margin: 0;
    }

    .services-image img {
        width: 100%;
        margin: 0;
    }

    /* Testimonial adjustments */
    .testimonial-wrapper {
        padding: 20px 0;
    }

    /* Footer adjustments */
    .footer {
        padding: 30px 20px;
        margin: 0;
    }

    .footer-content {
        gap: 20px;
    }

    /* Mobile menu adjustments */
    .mobile-menu-content {
        padding: 20px;
    }

    /* Prevent horizontal scroll */
    html, body {
        overflow-x: hidden;
        width: 100%;
        position: relative;
    }

    /* Hero section adjustments */
    .hero-section {
        margin-top: 0;
        width: 100%;
        height: 100vh;
    }

    .hero-content {
        width: 100%;
        padding: 20px;
        top: 0;
    }

    /* Services section adjustments */
    .services-section {
        padding: 40px 0;
        width: 100%;
    }

    .services-container {
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        gap: 20px;
    }

    .services-text {
        max-width: 100%;
        width: 100%;
        padding: 30px 20px;
    }

    .services-image {
        width: 100%;
    }

    /* Testimonial section adjustments */
    .testimonial-section {
        padding: 40px 0;
        width: 100%;
    }

    .testimonial-container {
        width: 100%;
        padding: 0 20px;
    }

    .arrow {
        display: none; /* Hide arrows on mobile */
    }

    .logo {
        gap: 20px; /* Reduce gap on mobile */
    }

    /* Hide login button in header on mobile */
    .logo .login-btn {
        display: none;
    }

    /* Style login button in mobile menu */
    .mobile-menu-content .login-btn {
        display: flex;
        align-items: center;
        gap: 8px;
        color: #4b5563;
        margin: 20px 0;
    }

    .mobile-menu-content .login-btn:hover {
        color: #b08d57;
    }

    .mobile-menu-content .user-icon {
        width: 24px;
        height: 24px;
    }

    .dropdown {
        position: static;
        width: 100%;
        opacity: 1;
        visibility: visible;
        transform: none;
        box-shadow: none;
        display: none;
    }

    .nav-item:hover .dropdown {
        display: block;
    }
    
    .dropdown-link {
        padding: 0.5rem 2rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    h1 {
        font-size: 2.5rem;
    }
}

@media (min-width: 1025px) {
    h1 {
        font-size: 3rem;
    }
}

/* Footer styles */
.footer {
    background-color: #AF9453; /* Footer background color */
    color: #fff; /* White text color */
    padding: 40px 20px;
    text-align: center;
    position: relative;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    margin-left: 30px;
    margin-right: 30px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.footer-content {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    text-align: center;
    font-size: 16px;
    line-height: 1.8;
    position: relative;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.vertical-line {
    display: block;
    width: 1px;
    height: 64px;
    background-color: #fff; /* Or any color you want for the line */
  }


.footer-section a {
    color: #fff;
    text-decoration: underline;
}

.footer-social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    margin-left: 3rem;
}

.social-icon {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #e4d9bc; /* Light hover color */
}

.footer-book-now {
    margin-top: 20px;
}

.book-now-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    margin-right: 53px;
    margin-top: 3.2rem;
    border-radius: 50%;
    border: 1px solid #AF9453; 
    color: #AF9453; 
    font-size: 0.875rem;
    transition: all 0.3s ease;
}

.book-now-btn:hover {
    background-color: #b08d57; 
    color: #fff;
    border: 1px solid #fff;
}

.book-now-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; /* Adjust height to match the image */
    width: 200px; /* Adjust width to match the image */
    border-radius: 5px; /* Slightly rounded corners */
    background-color: #AF9453; /* Gold-like background color */
    color: #fff; /* White text color */
    font-size: 16px; /* Adjust font size */
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border: 1px solid #fff; /* White border */
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
    left: 860px;
}

.book-now-button:hover {
    background-color: #fff; /* White background on hover */
    color: #AF9453; /* Gold-like text color on hover */
    border: 1px solid #AF9453; /* Gold-like border on hover */
}

/* Responsive styles */
@media (max-width: 768px) {
    .nav-container {
        display: none;
    }

    .mobile-menu-btn {
        display: block;
    }

    h1 {
        font-size: 2.25rem;
    }
    
    .services-container {
        flex-direction: column;
        align-items: center;
    }
    
    .book-now-container {
        position: relative;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    /* Footer Styles */
    .footer {
        flex-direction: column; /* Stack content vertically */
        padding: 20px;
        text-align: center;
    }

    .footer-content {
        flex-direction: column; /* Stack sections vertically */
        gap: 20px; /* Add spacing between sections */
    }

    .footer-section {
        position: static; /* Remove relative positioning */
    }

    .footer-section:not(:last-child)::after {
        content: none; /* Remove the line between sections */
    }

    .footer-social-icons {
        margin-top: 20px;
        justify-content: center;
    }

    .vertical-line {
        display: none; /* Hide vertical line on mobile */
    }

    .book-now-button {
        display: block;
        position: relative;
        left: 0;
        text-align: center;
        justify-content: center;
        right: 0;
        width: 150px;
    }
    .book-now-button-class {
        position: relative;
        top: 7px;
    }

    .book-now-btn {
        display: hidden;
    }

    /* Prevent horizontal scroll */
    html, body {
        overflow-x: hidden;
        width: 100%;
        position: relative;
    }

    /* Hero section adjustments */
    .hero-section {
        margin-top: 0;
        width: 100%;
        height: 100vh;
    }

    .hero-content {
        width: 100%;
        padding: 20px;
        top: 0;
    }

    /* Services section adjustments */
    .services-section {
        padding: 40px 0;
        width: 100%;
    }

    .services-container {
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        gap: 20px;
    }

    .services-text {
        max-width: 100%;
        width: 100%;
        padding: 30px 20px;
    }

    .services-image {
        width: 100%;
    }

    /* Testimonial section adjustments */
    .testimonial-section {
        padding: 40px 0;
        width: 100%;
    }

    .testimonial-container {
        width: 100%;
        padding: 0 20px;
    }

    .arrow {
        display: none; /* Hide arrows on mobile */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    h1 {
        font-size: 2.5rem;
    }
}

@media (min-width: 1025px) {
    h1 {
        font-size: 3rem;
    }
}



.hero-text {
    text-align: center;
    color: #fff;
}

.hero-text h1 {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 3rem;
    }
}
